<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./parts/head.ejs') %>
</head>

<body>
    <%- include('./parts/header.ejs') %>
        <div class="container">
            <div class="containerInner">
                <div class="userNav">
                    <nav class="miniNav">
                        <img class="img" src="/img/img.png" alt="">
                        <h4>
                            <%= header %>
                        </h4>
                        <ul class="userBtn">
                            <a class="userMenu" href="/createpost">создать публикацию</a>
                            <a class="userMenu" href="/chats">переписки</a>
                        </ul>
                    </nav>
                </div>
                <div class="postContainer">
                    <hgroup class="info">
                        <h1>Добро пожаловать на личную страницу блогера.
                        </h1>
                        <% posts.forEach(element=>{ %>
                            <div class="post">
                                <h3><b>Title: </b>
                                    <%= element.title %>
                                        <b><a class="deletepost" href="/delete/post/<%= element.id %> ">x</a></b>
                                </h3>
                                <h5>
                                    <%= element.post %>
                                </h5>
                            </div>
                            <% })%>
                    </hgroup>
                </div>
            </div>
</body>

</html>